@import "tailwindcss";

html, body {
  height: 100%;
}

.wrapper {
  position: relative;
  min-height: 100dvh;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

html, body, * {
  user-select: none;
}

input, textarea {
  user-select: text;
}

button {
  cursor: pointer;
}